/** Body **/
/* line 9, ../sass/application.scss */
body {
  padding-top: 69px;
  color: #383838;
  text-shadow: none !important;
  height: 100%;
}

/* line 18, ../sass/application.scss */
a:hover {
  text-decoration: none !important;
}

/* line 23, ../sass/application.scss */
ul {
  list-style: none;
  padding: 0 !important;
}
/* line 26, ../sass/application.scss */
ul li {
  line-height: 2;
}

/* typography */
/* line 33, ../sass/application.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
}

/* line 38, ../sass/application.scss */
h1 {
  margin: 0 !important;
  margin-bottom: 5px !important;
}

/* line 43, ../sass/application.scss */
h2 {
  margin: 0 !important;
  margin-bottom: 30px !important;
}

/** Header **/
/* line 53, ../sass/application.scss */
#logo {
  float: left;
  font-family: 'raleway', sans-serif;
  margin-right: 10px;
  font-size: 2.5em;
  color: #383838;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 200 !important;
  letter-spacing: 5px !important;
}
/* line 65, ../sass/application.scss */
#logo span {
  color: #e74c3c;
}

/* line 70, ../sass/application.scss */
#active {
  color: #e74c3c !important;
}

/* line 74, ../sass/application.scss */
.navbar {
  background: rgba(255, 255, 255, 0.9) !important;
}
/* line 78, ../sass/application.scss */
.navbar nav ul {
  padding-top: 9px !important;
}
/* line 80, ../sass/application.scss */
.navbar nav ul li {
  font-family: 'raleway', sans-serif;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 85, ../sass/application.scss */
.navbar nav ul li a {
  color: #383838 !important;
}
/* line 87, ../sass/application.scss */
.navbar nav ul li a:hover {
  background: transparent;
  color: #e74c3c !important;
  transition: 0.5s;
}

/* line 98, ../sass/application.scss */
.button {
  position: relative;
  bottom: -90;
  color: #fff;
  padding: 25px 20px 25px 20px;
  border: solid 2px;
  border-radius: 10px;
  font-family: 'raleway', sans-serif;
}
/* line 106, ../sass/application.scss */
.button:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #383838;
  border: none;
}

/* line 114, ../sass/application.scss */
.button-pos {
  color: #fff;
  padding: 25px 20px 25px 20px;
  border: solid 2px;
  border-radius: 10px;
  font-family: 'raleway', sans-serif;
}
/* line 120, ../sass/application.scss */
.button-pos:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #383838;
  border: none;
}

/* line 129, ../sass/application.scss */
.empty-space {
  height: 28px;
}

/** Sections General **/
/* line 134, ../sass/application.scss */
section {
  padding: 75px 0 75px 0;
}

/* line 138, ../sass/application.scss */
.section-background {
  color: #fff !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 143, ../sass/application.scss */
.section-background i {
  text-shadow: none;
  transition: 07s;
  color: #bb0000;
  font-size: 9em;
  transition: 0.5s;
}
/* line 149, ../sass/application.scss */
.section-background i:hover {
  color: #fff;
}

/** Slider Section **/
/* line 158, ../sass/application.scss */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
/* line 162, ../sass/application.scss */
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
/* line 168, ../sass/application.scss */
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/* line 174, ../sass/application.scss */
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
/* line 183, ../sass/application.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 188, ../sass/application.scss */
.contact-slider {
  padding: 0 !important;
}
/* line 190, ../sass/application.scss */
.contact-slider .carousel-inner {
  height: auto;
  width: 100%;
}
/* line 193, ../sass/application.scss */
.contact-slider .carousel-inner img {
  height: auto;
  width: 100%;
}

/* line 200, ../sass/application.scss */
.slider {
  padding: 0 !important;
}
/* line 202, ../sass/application.scss */
.slider .carousel-inner {
  height: 100%;
  width: 100%;
}
/* line 205, ../sass/application.scss */
.slider .carousel-inner img {
  height: 100% !important;
  width: 100% !important;
}
/* line 209, ../sass/application.scss */
.slider .carousel-inner .carousel-caption {
  bottom: 50% !important;
  text-transform: uppercase;
  text-shadow: none !important;
}
/* line 213, ../sass/application.scss */
.slider .carousel-inner .carousel-caption h1 {
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  font-size: 3.2em;
  margin: 0 !important;
}
/* line 219, ../sass/application.scss */
.slider .carousel-inner .carousel-caption p {
  margin-top: 20px;
  font-weight: 300;
  font-family: 'raleway', sans-serif;
  font-size: 2.5em;
  line-height: 1;
}
/* line 227, ../sass/application.scss */
.slider .carousel-inner .carousel-caption ul {
  padding-bottom: 5px !important;
  margin: 0;
}
/* line 230, ../sass/application.scss */
.slider .carousel-inner .carousel-caption ul li {
  display: inline-block;
  font-size: 3em;
}

/** Headline-Text Section **/
/* line 242, ../sass/application.scss */
.headline-text {
  text-align: center;
  background-color: #fff;
}
/* line 245, ../sass/application.scss */
.headline-text h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 3em;
}
/* line 250, ../sass/application.scss */
.headline-text h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.6em;
}
/* line 256, ../sass/application.scss */
.headline-text p {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 1.15em;
}

/** List-Section **/
/* line 264, ../sass/application.scss */
.list-section {
  background-color: #9b59b6;
  color: #fff;
}
/* line 267, ../sass/application.scss */
.list-section .title-list {
  margin-left: 20%;
}
/* line 270, ../sass/application.scss */
.list-section .title-list h3 {
  font-family: 'lato', sans-serif;
  font-weight: 800;
  font-size: 1.15em;
}
/* line 275, ../sass/application.scss */
.list-section .title-list li {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

/** secondary-page-header **/
/* line 284, ../sass/application.scss */
.secondary-page-header {
  background-image: url("../images/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 289, ../sass/application.scss */
.secondary-page-header .secondary-page-header-wrapper {
  padding: 200px 0px 200px 0;
  color: #383838;
}
/* line 292, ../sass/application.scss */
.secondary-page-header .secondary-page-header-wrapper h1 {
  font-size: 3em;
  font-family: 'raleway', sans-serif;
  font-weight: 800;
}
/* line 297, ../sass/application.scss */
.secondary-page-header .secondary-page-header-wrapper p {
  font-size: 1.9em;
  font-family: 'raleway', sans-serif;
  font-weight: 200;
}

/** Footer-Section **/
/* line 307, ../sass/application.scss */
.footer {
  padding: 0 !important;
  background-color: #34495e;
  text-shadow: none !important;
}
/* line 312, ../sass/application.scss */
.footer nav ul {
  padding-top: 9px !important;
}
/* line 314, ../sass/application.scss */
.footer nav ul li {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 319, ../sass/application.scss */
.footer nav ul li a {
  color: rgba(255, 255, 255, 0.6) !important;
}
/* line 321, ../sass/application.scss */
.footer nav ul li a:hover {
  background: transparent;
  color: #e74c3c !important;
  transition: 0.5s;
}

/* line 332, ../sass/application.scss */
.copyright {
  background-color: #2c3e50;
  color: rgba(255, 255, 255, 0.6) !important;
  text-align: center;
  padding: 10px 0 10px 0;
}

/* MODAL */
/* line 341, ../sass/application.scss */
.modal-video {
  padding: 40px 0px 40px 0px;
  display: inline-block;
}

/* line 346, ../sass/application.scss */
.modal-header {
  color: #383838 !important;
}
/* line 348, ../sass/application.scss */
.modal-header h4 {
  font-family: 'raleway', sans-serif;
  font-weight: 300 !important;
  font-size: 2em;
}

/* line 355, ../sass/application.scss */
.modal-video-caption {
  color: #383838 !important;
  font-size: 1.5em !important;
  font-family: 'lato', sans-serif !important;
  font-weight: 300 !important;
}

/* FORM */
/* line 364, ../sass/application.scss */
.form h3 {
  font-family: 'raleway';
  font-weight: 600;
  font-color: #383838;
  font-size: 1.7em;
}
/* line 371, ../sass/application.scss */
.form p {
  font-family: 'raleway';
  font-weight: 300;
  font-color: #383838;
  font-size: 1.1em;
}

/* Contact */
/* line 380, ../sass/application.scss */
.contact-address {
  padding-left: 30px;
}
/* line 382, ../sass/application.scss */
.contact-address h3 {
  font-size: 1.6em;
  font-weight: 600;
  font-family: 'raleway', sans-serif;
  font-color: #383838;
}
/* line 388, ../sass/application.scss */
.contact-address p {
  font-family: 'raleway', sans-serif;
  font-weight: 300;
  font-color: #383838;
}
/* line 393, ../sass/application.scss */
.contact-address i {
  display: inline-block;
  font-size: 2.2em;
  color: #e74c3c;
  padding: 5px 30px 0px 0px;
}

/* line 401, ../sass/application.scss */
.contact-info {
  padding-bottom: 0 !important;
}

/* line 405, ../sass/application.scss */
.contact-info-module {
  margin: 0 auto !important;
}
/* line 407, ../sass/application.scss */
.contact-info-module .contact-info-icon {
  display: inline-block;
}
/* line 409, ../sass/application.scss */
.contact-info-module .contact-info-icon i {
  font-size: 3.5em;
  color: #e74c3c;
  padding-left: 35px;
}
/* line 416, ../sass/application.scss */
.contact-info-module .contact-info-info {
  padding-left: 20px;
  display: inline-block;
}
/* line 418, ../sass/application.scss */
.contact-info-module .contact-info-info p {
  font-family: 'raleway', sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  color: #383838;
}
/* line 424, ../sass/application.scss */
.contact-info-module .contact-info-info span {
  font-family: 'raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #383838;
}
